# Lists
Lists are ordered, mutable collections of elements. They can hold elements of different types.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry", "durian", "apple"]




# Elements can be identified using positive index / Negative index
# 0 - apple
# 1 - banana
# 2 - cherry
# 3 - durian


# -1 - durian - Last item of the list
# -2 - cherry
# -3 - banana
# -4 - apple


print (fruits)

# Accessing elements
first_fruit = fruits[0]  # "apple"
print (first_fruit)


# Accessing elements
last_fruit = fruits[-1]  # "durian"
print (last_fruit)


# Modifying elements
fruits[1] = "blueberry"  # fruits is now ["apple", "blueberry", "cherry"]
print(fruits[1])

# Adding elements
fruits.append("date")  # fruits is now ["apple", "blueberry", "cherry", "date"]
print (fruits)

# Removing elements
fruits.remove("cherry")  # fruits is now ["apple", "blueberry", "date"]
print (fruits)

fruits.pop() # Revome element
print (fruits)

{'durian', 'banana', 'apple', 'cherry'}
['apple', 'banana', 'cherry', 'durian', 'apple']
apple
apple
blueberry
['apple', 'blueberry', 'cherry', 'durian', 'apple', 'date']
['apple', 'blueberry', 'durian', 'apple', 'date']
['apple', 'blueberry', 'durian', 'apple']

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry", "durian", "apple"]
print (fruits)

# convert fruits to set
fruits_set = set(fruits)
print (fruits_set)

['apple', 'banana', 'cherry', 'durian', 'apple']
{'durian', 'banana', 'apple', 'cherry'}

In [ ]:
fruits_set = {"apple", "banana", "cherry", "durian", "apple"}
print (fruits_set)

{'durian', 'banana', 'apple', 'cherry'}

# Tuples
Tuples are ordered, immutable collections of elements. They can hold elements of different types

In [ ]:
# Creating a list
fruits = ("apple", "banana", "cherry")

print (fruits)

# Accessing elements
first_fruit = fruits[0]  # "apple"
print (first_fruit)


# Accessing elements
last_fruit = fruits[-1]  # "cherry"
print (last_fruit)


# Modifying elements
#fruits[1] = "blueberry"  # fruits is now ["apple", "blueberry", "cherry"]
print(fruits[1])

# Adding elements
# fruits.append("date")  # fruits is now ["apple", "blueberry", "cherry", "date"]
print (fruits)

# Removing elements
# fruits.remove("cherry")  # fruits is now ["apple", "blueberry", "date"]
#print (fruits)

('apple', 'banana', 'cherry')
apple
cherry
banana
('apple', 'banana', 'cherry')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# Creating a tuple
coordinates = (10.0, 20.0)
print (coordinates)

# Accessing elements
latitude = coordinates[0]  # 10.0

# Tuples are immutable, so elements cannot be changed

# Tuple unpacking
lat, lon = coordinates  # lat is 10.0, lon is 20.0
print ("lat = ", lat, "lon = ", lon)

(10.0, 20.0)
lat =  10.0 lon =  20.0

# Sets
Sets are unordered collections of unique elements.

In [ ]:
# Creating a set
unique_numbers = {1, 2, 3, 4, 5, 1}
print (unique_numbers)


# Adding elements
unique_numbers.add(6)  # {1, 2, 3, 4, 5, 6}
print (unique_numbers)

# Removing elements
unique_numbers.remove(3)  # {1, 2, 4, 5, 6}
print()

print (unique_numbers)

# Set operations
other_numbers = {4, 5, 6, 7, 8}
print (other_numbers)
print()
# Union
union_set = unique_numbers | other_numbers  # {1, 2, 4, 5, 6, 7, 8}
print (union_set)

# Intersection
intersection_set = unique_numbers & other_numbers  # {4, 5, 6}
print (intersection_set)

# Difference
difference_set = unique_numbers - other_numbers  # {1, 2}
print (difference_set)


# Difference
difference_set2 = other_numbers - unique_numbers    # {7, 8}
print (difference_set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}
{4, 5, 6, 7, 8}

{1, 2, 4, 5, 6, 7, 8}
{4, 5, 6}
{1, 2}
{8, 7}

# Dictionaries
Dictionaries are unordered collections of key-value pairs. Keys must be unique and immutable

In [ ]:
# Creating a dictionary
student = {
    "name": "John Doe",
    "age": 21,
    "courses": ["Math", "Science"]
}
print (student)

# Accessing elements
student_name = student["name"]  # "John Doe"

# Modifying elements
student["age"] = 22  # age is now 22

# Adding elements
student["grade"] = "A"  # added new key-value pair

print (student)

# Removing elements
del student["courses"]  # "courses" key-value pair removed

# Iterating over keys and values
for key, value in student.items():
    print(f"{key}: {value}")
    #print (key, " : ", value)

for key in student.keys():
    print (key)

for value in student.values():
    print (value)

{'name': 'John Doe', 'age': 21, 'courses': ['Math', 'Science']}
{'name': 'John Doe', 'age': 22, 'courses': ['Math', 'Science'], 'grade': 'A'}
name: John Doe
age: 22
grade: A
name
age
grade
John Doe
22
A

# Create a dictionary with keys as the first 5 natural numbers and values as their squares.

In [ ]:
# Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

squares = {i: i ** 2 for i in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Given a dictionary {"a": 1, "b": 2, "c": 3}, add a new key "d" with value 4.

In [ ]:
# {'a': 1, 'b': 2, 'c': 3, 'd': 4}
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict["d"] = 4
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Merge two dictionaries {"a": 1, "b": 2} and {"c": 3, "d": 4}.

In [ ]:
# {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Check if the key "b" or "x" exists in the dictionary {"a": 1, "b": 2, "c": 3}.

In [ ]:
# True
my_dict = {"a": 1, "b": 2, "c": 3}
key_exists = "b" in my_dict
print(key_exists)

True

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
key_exists = "x" in my_dict
print(key_exists)

False

# Remove the key "b" from the dictionary {"a": 1, "b": 2, "c": 3}.

In [ ]:
# Answer
my_dict = {"a": 1, "b": 2, "c": 3}
removed_value = my_dict.pop("b")
print(my_dict)

# Create a dictionary from the list of tuples [("a", 1), ("b", 2), ("c", 3)].

In [ ]:
# {'a': 1, 'b': 2, 'c': 3}
tuples_list = [("a", 1), ("b", 2), ("c", 3)]
my_dict = dict(tuples_list)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

# Get the list of keys from the dictionary {"a": 1, "b": 2, "c": 3}.

In [ ]:
# ['a', 'b', 'c']
my_dict = {"a": 1, "b": 2, "c": 3}
keys_list = list(my_dict.keys())
print(keys_list)

['a', 'b', 'c']

# Get the list of values from the dictionary {"a": 1, "b": 2, "c": 3}.

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
values_list = list(my_dict.values())
print(values_list)

[1, 2, 3]

# Update the value of key "a" to 10 in the dictionary {"a": 1, "b": 2, "c": 3}.

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
my_dict["a"] = 10
print(my_dict)

{'a': 10, 'b': 2, 'c': 3}

# Iterate through the dictionary {"a": 1, "b": 2, "c": 3} and print each key-value pair.

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
for key, value in my_dict.items(): print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3