# **Creating NumPy Array**



![NumPy.png]()

# Documentation
https://numpy.org/doc/

In [ ]:
import sys
print (sys.version)

3.10.12 (main, Mar 22 2024, 16:50:05) [GCC 11.4.0]

In [ ]:
np.

In [ ]:
import numpy as np

# Create a 1D array
arr_1d = np.array([1, 2, 3, 4, 5])
print ("\n One dimensional Array \n", arr_1d)

# Create a 2D array
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
print ("\n Two dimensional Array \n",arr_2d)

# Create a 3D array
arr_3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print ("\n Three dimensional Array \n",arr_3d)

 One dimensional Array
 [1 2 3 4 5]

 Two dimensional Array
 [[1 2 3]
 [4 5 6]]

 Three dimensional Array
 [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

# **Importing Python List and Numpy Array**

In [ ]:
import numpy as np

# Existing Python list
python_list_1d = [1, 2, 3, 4, 5]

# Convert the Python list to a 1D NumPy array
numpy_array_1d = np.array(python_list_1d)

# Print the 1D NumPy array
print("1D NumPy Array: \n", numpy_array_1d)

1D NumPy Array:
 [1 2 3 4 5]

In [ ]:
import numpy as np

# Existing Python list of lists
python_list1 = [1, 2, 3]
python_list2 = [4, 5, 6]

# Convert the Python list to a 2D NumPy array
numpy_array_2d = np.array([python_list1, python_list2])

# Print the 2D NumPy array
print("2D NumPy Array:\n", numpy_array_2d)

In [ ]:
import numpy as np

# Existing Python list of lists of lists
python_list_3d = [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[13, 14, 15],[16, 17, 18]]]

# Convert the Python list to a 3D NumPy array
numpy_array_3d = np.array(python_list_3d)

# Print the 3D NumPy array
print("3D NumPy Array: \n", numpy_array_3d)

3D NumPy Array:
 [[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]

 [[13 14 15]
  [16 17 18]]]

# **Accessing Elements of NumPy Array**

In [ ]:
import numpy as np

# Create a 1D NumPy array
numpy_array_1d = np.array([10, 20, 30, 40, 50])

# Print the original array
print("1D NumPy Array:")
print(numpy_array_1d)

# Accessing elements using index
# Note: Indexing starts from 0 in Python

# Access the first element
first_element = numpy_array_1d[0]
print("\nFirst Element:", first_element)

# Access the third element
third_element = numpy_array_1d[2]
print("Third Element:", third_element)

# Access the last element
# Negative indices count from the end of the array
last_element = numpy_array_1d[-1]
print("Last Element:", last_element)

# Access the fourth element using the negative index
fourth_element = numpy_array_1d[-2]
print("Fourth Element:", fourth_element)

1D NumPy Array:
[10 20 30 40 50]

First Element: 10
Third Element: 30
Last Element: 50
Fourth Element: 40

In [ ]:
import numpy as np

# Create a 2D NumPy array
numpy_array_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Print the original array
print("2D NumPy Array:")
print(numpy_array_2d)

# Accessing elements using row and column indices
# Note: Indices start from 0 in Python

# Access the element in the second row, third column
element_2_3 = numpy_array_2d[1, 2]
print("\nElement at (2nd row, 3rd column):", element_2_3)

# Access the entire second row
second_row = numpy_array_2d[1, :]
print("Entire Second Row:", second_row)

# Access the entire third column
third_column = numpy_array_2d[:, 2]
print("Entire Third Column:", third_column)

# Access a subarray (slice) of the array
subarray = numpy_array_2d[0:2, 1:3]
print("Subarray (1st and 2nd rows, 2nd and 3rd columns):\n", subarray)

2D NumPy Array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Element at (2nd row, 3rd column): 6
Entire Second Row: [4 5 6]
Entire Third Column: [3 6 9]
Subarray (1st and 2nd rows, 2nd and 3rd columns):
 [[2 3]
 [5 6]]

# *Inspecting Array*

  shape: Returns the dimensions of the array (number of rows and columns).

  size: Returns the total number of elements in the array.

  ndim: Returns the number of dimensions (axes) of the array.

  dtype: Returns the data type of the elements in the array.

  nbytes: Returns the total number of bytes used by the array.

  itemsize: Returns the number of bytes used to store one element of the array.

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([[1, 2, 3], [4, 5, 6]])
print (arr)
# Inspect array shape, size, and dimensions
print("Shape:", arr.shape)
print("Size:", arr.size)
print("Dimensions:", arr.ndim)

# Inspect array data type
print("Data Type:", arr.dtype)

# Inspect memory usage
print("Memory Usage (bytes):", arr.nbytes)

# Get the item size
print("Item Size (in bytes):", arr.itemsize)

[[1 2 3]
 [4 5 6]]
Shape: (2, 3)
Size: 6
Dimensions: 2
Data Type: int64
Memory Usage (bytes): 48
Item Size (in bytes): 8

itemsize - Useful to estimate the memory usage of arrays, especially when dealing with large datasets or when optimizing memory in memory-constrained environments.

In the previous cell, we didn't define the data type. Therefore, the array created using the default data type (int64) with 8 bytes per item. You could observe the changes in memory usage while create an array with the data type int32.

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([[1, 2, 3], [4, 5, 6]], dtype='int8')

# Inspect array shape, size, and dimensions
print("Shape:", arr.shape)
print("Size:", arr.size)
print("Dimensions:", arr.ndim)

# Inspect array data type
print("Data Type:", arr.dtype)

# Inspect memory usage
print("Memory Usage (bytes):", arr.nbytes)

# Get the item size
print("Item Size (in bytes):", arr.itemsize)

Shape: (2, 3)
Size: 6
Dimensions: 2
Data Type: int8
Memory Usage (bytes): 6
Item Size (in bytes): 1

In [ ]:
import numpy as np

# Create a NumPy array with mixed data types
mixed_array = np.array([1, 2.5, 'hello', True])

# Display array content
print("Array Content:")
print(mixed_array)

# Inspect array shape, size, and dimensions
print("Shape:", mixed_array.shape)
print("Size:", mixed_array.size)
print("Dimensions:", mixed_array.ndim)

# Inspect array data type
# Returns <U32 - stands for Unicode, representing strings of fixed length
print("Data Type:", mixed_array.dtype)

# Get the item size
print("Item Size (in bytes):", arr.itemsize)

Array Content:
['1' '2.5' 'hello' 'True']
Shape: (4,)
Size: 4
Dimensions: 1
Data Type: <U32
Item Size (in bytes): 8

In [ ]:
import numpy as np

# Create a NumPy array with mixed data types
mixed_array = np.array(["Apple", "Banana", 'Cherry', "Dragon Fruit"])

# Display array content
print("Array Content:")
print(mixed_array)

# Inspect array shape, size, and dimensions
print("Shape:", mixed_array.shape)
print("Size:", mixed_array.size)
print("Dimensions:", mixed_array.ndim)

# Inspect array data type
# Returns <U32 - stands for Unicode, representing strings of fixed length
print("Data Type:", mixed_array.dtype)

# Get the item size
print("Item Size (in bytes):", arr.itemsize)

Array Content:
['Apple' 'Banana' 'Cherry' 'Dragon Fruit']
Shape: (4,)
Size: 4
Dimensions: 1
Data Type: <U12
Item Size (in bytes): 4

# **Arithmetic Operations**

In [ ]:
import numpy as np

# Create two arrays
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

print (arr1)
print (arr2)
# Element-wise addition
result_addition = arr1 + arr2
print("Addition of Array" , result_addition, "\n")

# Element-wise subtraction
result_subtraction = arr1 - arr2
print("Subtraction of Array" , result_subtraction, "\n")

# Element-wise multiplication
result_multiplication = arr1 * arr2
print("Multiplication of Array" , result_multiplication, "\n")

# Element-wise division
result_division = arr1 / arr2
print("Division of Array" , result_division, "\n")

[1 2 3 4]
[5 6 7 8]
Addition of Array [ 6  8 10 12]

Subtraction of Array [-4 -4 -4 -4]

Multiplication of Array [ 5 12 21 32]

Division of Array [0.2        0.33333333 0.42857143 0.5       ]

# *Print formatted using set_printoptions*

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

# Set the print options to display array elements with a specific width
np.set_printoptions(linewidth=10)

# Print the array
print("NumPy Array:")
print(arr)

NumPy Array:
[ 1  2  3
  4  5  6
  7  8  9
 10 11 12
 13 14 15]

# *Print Formatted using max_line_width*

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

# Display array elements with a specific width
formatted_str = np.array_str(arr, max_line_width=10)

# Print the formatted string
print("Formatted Array:")
print(formatted_str)

Formatted Array:
[ 1  2  3
  4  5  6
  7  8  9
 10 11 12
 13 14 15]

# *Universal functions*

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print("Original Array \n" , arr, "\n")

# Square root
result_sqrt = np.sqrt(arr)
print("Square Root \n" , result_sqrt, "\n")


# Element-wise power
result_power = np.power(arr, 3)
print("Power by 3 \n", result_power, "\n")


# Exponential
result_exp = np.exp(arr)
print("Exponential \n" , result_exp, "\n")

# Trigonometric functions
result_sin = np.sin(arr)
print("SIN values \n" , result_sin, "\n")

result_cos = np.cos(arr)
print("COS values \n" , result_cos, "\n")

Original Array
 [1 2 3 4]

Square Root
 [1.
 1.41421356
 1.73205081
 2.        ]

Power by 3
 [ 1  8 27
 64]

Exponential
 [ 2.71828183
  7.3890561
 20.08553692
 54.59815003]

SIN values
 [ 0.84147098
  0.90929743
  0.14112001
 -0.7568025 ]

COS values
 [ 0.54030231
 -0.41614684
 -0.9899925
 -0.65364362]

# *Aggregate Functions - Statistics Summary*

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])
print("Original array \n" , arr, "\n")

# Sum of all elements
sum_elements = np.sum(arr)
print("Sum \n" , sum_elements, "\n")

# Mean (average) of elements
mean_value = np.mean(arr)
print("Mean \n" , mean_value, "\n")

# Minimum and Maximum values
min_value = np.min(arr)
print("Min Value \n" , min_value, "\n")

max_value = np.max(arr)
print("Max Value \n" , max_value, "\n")

# Standard deviation and Variance
std_deviation = np.std(arr)
print("Standard Deviation \n", std_deviation, "\n")

variance = np.var(arr)
print("Variance \n", variance)



# Create a 2D array
arr_2d = np.array([[1, 22, 3], [4, 5, 6]])

t_sum= np.sum(arr_2d)
r_sum1=np.sum(arr_2d, axis=0)
r_sum=np.sum(arr_2d, axis=1)
c_min= np.min(arr_2d, axis=0)

print (arr_2d)
print("total sum:",t_sum)
print("Row sum:",r_sum1)
print("Row sum:",r_sum)
print("Col min:",c_min)

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])
print("Original array \n" , arr, "\n")

# Sum of all elements
sum_elements = np.sum(arr)
print("Sum \n" , sum_elements, "\n")

# Mean (average) of elements
mean_value = np.mean(arr)
print("Mean \n" , mean_value, "\n")

# Minimum and Maximum values
min_value = np.min(arr)
print("Min Value \n" , min_value, "\n")

max_value = np.max(arr)
print("Max Value \n" , max_value, "\n")

# Standard deviation and Variance
std_deviation = np.std(arr)
print("Standard Deviation \n", std_deviation, "\n")

variance = np.var(arr)
print("Variance \n", variance)

# *Axis wise processing*

axis=1 specifies row-wise operations.

axis=0 specifies column-wise operations.

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3],
                [4, 9, 6],
                [7, 8, 9]])

print("\n Original Array:")
print(arr)

# Sum along rows (axis=1)
row_sums = np.sum(arr, axis=1)
print("\n Row Sums:")
print(row_sums)

# Mean along rows (axis=1)
row_means = np.mean(arr, axis=1)
print("\n Row Means:")
print(row_means)

# Median along rows (axis=1)
row_median = np.median(arr, axis=1)
print("\n Row Median:")
print(row_median)


# Sum along columns (axis=0)
column_sums = np.sum(arr, axis=0)
print("\n Column Sums:")
print(column_sums)


# Mean along columns (axis=0)
column_means = np.mean(arr, axis=0)
print("\n Column Means:")
print(column_means)

# Median along columns (axis=0)
column_median = np.median(arr, axis=0)
print("\n Column Median:")
print(column_median)

 Original Array:
[[1 2 3]
 [4 9 6]
 [7 8 9]]

 Row Sums:
[ 6 19 24]

 Row Means:
[2.         6.33333333 8.        ]

 Row Median:
[2. 6. 8.]

 Column Sums:
[12 19 18]

 Column Means:
[4.         6.33333333 6.        ]

 Column Median:
[4. 8. 6.]

# *Broadcasting*
Powerful feature for performing operations on arrays of different shapes

In [ ]:
import numpy as np

# Broadcasting scalar to an array
arr = np.array([1, 2, 3, 4])
result = arr + 10  # Scalar 10 is broadcasted to each element
print("Broadcasting scalar" , result, "\n")

# Broadcasting between two arrays
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([10, 20])
result_broadcast = arr1 + arr2

print("Broadcasting scalar" , result_broadcast, "\n")

Broadcasting scalar [11 12 13 14]

Broadcasting scalar [[11 22]
 [13 24]]

# *Array Comparison*

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([1, 2, 5, 4])
print (arr1)
print (arr2)

# Element-wise comparison
comparison_result = arr1 == arr2
print("Comparison Result - " , comparison_result, "\n")

# Check if any element is True
any_equal = np.any(comparison_result)
print("Comparison Result - any equal - " , any_equal, "\n")

# Check if all elements are True
all_equal = np.all(comparison_result)
print("Comparison Result - all equal - " , all_equal, "\n")

[1 2 3 4]
[1 2 5 4]
Comparison Result -  [ True  True False  True]

Comparison Result - any equal -  True

Comparison Result - all equal -  False

# *Sorting  Array - 1D array*

In [ ]:
import numpy as np

arr = np.array([3, 1, 4, 1, 5, 9, 2, 6])

# Sorting in ascending order
sorted_arr = np.sort(arr)
print("Sorted Array:", sorted_arr)

# Sorting in descending order
desc_sorted_arr = np.sort(arr)[::-1]
print("Descending Sorted Array:", desc_sorted_arr)

Sorted Array: [1 1 2 3 4 5 6 9]
Descending Sorted Array: [9 6 5 4 3 2 1 1]

# *Sorting Array - 2D Array*

In [ ]:
import numpy as np

arr_2d = np.array([[3, 1, 4], [1, 5, 9], [2, 6, 5]])
print ("Original array: \n", arr_2d)

# Sorting along rows
sorted_rows = np.sort(arr_2d, axis=1)
print("Sorted Rows:\n", sorted_rows)

# Sorting along columns
sorted_cols = np.sort(arr_2d, axis=0)
print("Sorted Columns:\n", sorted_cols)

Original array:
 [[3 1 4]
 [1 5 9]
 [2 6 5]]
Sorted Rows:
 [[1 3 4]
 [1 5 9]
 [2 5 6]]
Sorted Columns:
 [[1 1 4]
 [2 5 5]
 [3 6 9]]

# *Sorting - argsort*
Instead of sorting the array directly, argsort provides the indices of the sorted elements, allowing you to access the elements in their sorted order without actually modifying the original array.

In [ ]:
import numpy as np

import numpy as np

arr = np.array([3, 1, 4, 1, 5, 9, 2, 6])
#     Index    [0, 1, 2, 3, 4, 5, 6, 7]
# Sort by Idx  [1, 3, 6, 0, 2, 4, 7, 5]

# Get the indices that would sort the array
sorted_indices = np.argsort(arr)

print("Original Array:", arr)
print("Sorted Indices:", sorted_indices)
print("Sorted Array using argsort:", arr[sorted_indices])


# Sorting in ascending order
sorted_arr = np.sort(arr)
print("Sorted Array:", sorted_arr)

Original Array: [3 1 4 1 5 9 2 6]
Sorted Indices: [1 3 6 0 2 4 7 5]
Sorted Array using argsort: [1 1 2 3 4 5 6 9]
Sorted Array: [1 1 2 3 4 5 6 9]

# *Application of argsort*

Scenario: In an e-commerce platform where you want to showcase the most expensive products to potential customers or for internal analysis to identify high-value items in your inventory.

You have a list of products and their corresponding prices, and you want to identify the top three most expensive products

In [ ]:
import numpy as np

import numpy as np

# E-commerce scenario: Products and Prices
products = np.array(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Camera'])
print ("\n Products list \n", products, "\n")

prices = np.array([1500, 800, 500, 150, 1200])
print ("\n Price list \n", prices, "\n")

# Get the indices that would sort the prices in descending order to get expensive items on top
sorted_indices = np.argsort(prices)[::-1]

# Extract the top three most expensive products
top_three_products = products[sorted_indices[:3]]
top_three_prices = prices[sorted_indices[:3]]

# Display the top three most expensive products
print("Top Three Most Expensive Products:")
for product, price in zip(top_three_products, top_three_prices):
    print(f"{product}: ${price}")

 Products list
 ['Laptop' 'Smartphone' 'Tablet' 'Headphones' 'Camera']


 Price list
 [1500  800  500  150 1200]

Top Three Most Expensive Products:
Laptop: $1500
Camera: $1200
Smartphone: $800

In [ ]:
# E-commerce scenario: Products and Prices
products = np.array(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Camera'])
print ("\n Products list \n", products, "\n")

prices = np.array([1500, 800, 500, 150, 1200])
print ("\n Price list \n", prices, "\n")

# Sort product and price
sorted_products = np.sort(products)
sorted_prices = np.sort(prices)


# Extract the top three most expensive products
top_three_products = sorted_products[:3]
top_three_prices = sorted_prices[:3]

# Display the top three most expensive products
print (top_three_products)
print (top_three_prices)

 Products list
 ['Laptop' 'Smartphone' 'Tablet' 'Headphones' 'Camera']


 Price list
 [1500  800  500  150 1200]

['Camera' 'Headphones' 'Laptop']
[150 500 800]

# *Reshaping*
Change the shape (dimensions) of an array without changing the data it contains. It allows you to convert an array from one shape to another, provided that the total number of elements remains the same.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])
print("\nOriginal Array:\n", arr)

# Reshape 1D array to a 2D array
reshaped_arr = arr.reshape((2, 3))
print("\nReshaped Array - 2D, shape(2,3):\n", reshaped_arr)

# Reshape 1D array to a 2D array
reshaped_arr = arr.reshape((3, 2))
print("\nReshaped Array - 2D, shape(2,3):\n", reshaped_arr)

Original Array:
 [1 2 3 4 5 6]

Reshaped Array - 2D, shape(2,3):
 [[1 2 3]
 [4 5 6]]

Reshaped Array - 2D, shape(2,3):
 [[1 2]
 [3 4]
 [5 6]]

# *Flattening*

In [ ]:
import numpy as np

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

# Flatten a 2D array to a 1D array
flattened_arr = arr_2d.flatten()
print("Flattened Array:", flattened_arr)

Flattened Array: [1 2 3 4
 5 6]

# *Transpose*

In [ ]:
import numpy as np

arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
print ("Original Array:\n", arr_2d)

# Transpose a 2D array
transposed_arr = arr_2d.T
print("Transposed Array:\n", transposed_arr)

Original Array:
 [[1 2 3]
 [4 5 6]]
Transposed Array:
 [[1 4]
 [2 5]
 [3 6]]

# *Swap Axis*

In [ ]:
import numpy as np

# Create a 2D array
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])

# Swap the axes (transpose the array)
swapped_arr = np.swapaxes(arr_2d, 0, 1)

print("Original Array:\n", arr_2d)
print("Swapped Axes Array:\n", swapped_arr)

Original Array:
 [[1 2 3]
 [4 5 6]]
Swapped Axes Array:
 [[1 4]
 [2 5]
 [3 6]]

#**Column Stack**
It can take any number of input arrays, and they are stacked as columns.

In [ ]:
import numpy as np

# Example 1-D arrays
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
array3 = np.array([7, 8, 9])

# Column stack the arrays
result = np.column_stack((array1, array2))

print("Original Arrays:")
print("Array 1:", array1)
print("Array 2:", array2)
print("Array 3:", array3)

print("\nResult after column_stack:")
print(result)

Original Arrays:
Array 1: [1 2 3]
Array 2: [4 5 6]
Array 3: [7 8 9]

Result after column_stack:
[[1 4]
 [2 5]
 [3 6]]

In [ ]:
import numpy as np

# Example 2D array
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

# Define a function to calculate the sum of squared elements along axis 1
def sum_of_squares(row):
    return np.sum(row ** 2)

# Apply the function along axis 1
result = np.apply_along_axis(sum_of_squares, axis=1, arr=arr)

print("Original 2D Array:")
print(arr)
print("\nSum of Squares along Axis 1:")
print(result)

Original 2D Array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

Sum of Squares along Axis 1:
[ 14  77 194]

In [ ]:
# prompt: np filter example

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5, 6])

# Filter the array to include only even numbers
filtered_arr = arr[arr % 2 == 0]

# Print the filtered array
print("Filtered Array (Even Numbers):", filtered_arr)

In [ ]:
import numpy as np
bmi_arr = [23.56, 17.45, 43.27]
bmi_array = np.array(bmi_arr)
print(bmi_array)
# BMI > 25
print(bmi_array[bmi_array > 25.0])
#

[23.56 17.45 43.27]
[43.27]

# Fill with values

In [ ]:
import numpy as np

# Create an array filled with zeros
arr_zeros = np.zeros(5)  # Create an array of 5 zeros
print("ID array \n", arr_zeros)

# Create a 2D array filled with zeros
arr_2d_zeros = np.zeros((3, 4))  # Create a 3x4 array of zeros
print("2D array \n", arr_2d_zeros)

ID array
 [0. 0. 0. 0. 0.]
2D array
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [ ]:
import numpy as np

# Create an array filled with ones
arr_ones = np.ones(5)  # Create an array of 5 ones
print("1D array \n", arr_ones)

# Create a 2D array filled with ones
arr_2d_ones = np.ones((3, 4))  # Create a 3x4 array of ones
print("2D array \n", arr_2d_ones)

1D array
 [1. 1. 1. 1. 1.]
2D array
 [[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [ ]:
import numpy as np

# Create an array filled with a specific value
arr_filled = np.full(5, 7)  # Create an array of 5 elements, all filled with 7
print("1D array filled with 7 \n", arr_filled)

# Create a 2D array filled with a specific value
arr_2d_filled = np.full((3, 4), 9)  # Create a 3x4 array filled with 9
print("2D array filled with 9 \n", arr_2d_filled)

1D array filled with 7
 [7 7 7 7 7]
2D array filled with 9
 [[9 9 9 9]
 [9 9 9 9]
 [9 9 9 9]]

In [ ]:

# NumPy's arange function is similar to Python's built-in range function, but it returns a NumPy array instead of a list.

# Syntax:
# np.arange(start, stop, step, dtype=None)

# start: The starting value of the sequence (inclusive, default is 0).
# stop: The end value of the sequence (exclusive).
# step: The spacing between values (default is 1).
# dtype: The desired data type of the array (optional).

# Example 1: Create an array with values from 0 to 9
arr1 = np.arange(10)
print(arr1)  # Output: [0 1 2 3 4 5 6 7 8 9]

# Example 2: Create an array with values from 5 to 14
arr2 = np.arange(5, 15)
print(arr2)  # Output: [ 5  6  7  8  9 10 11 12 13 14]

# Example 3: Create an array with values from 2 to 10 with a step of 2
arr3 = np.arange(2, 11, 2)
print(arr3)  # Output: [ 2  4  6  8 10]

# Example 4: Create an array of floating-point numbers from 0 to 2 with a step of 0.3
arr4 = np.arange(0, 2, 0.3)
print(arr4)  # Output: [0.  0.3 0.6 0.9 1.2 1.5 1.8]

[0 1 2 3 4 5 6 7 8 9]
[ 5  6  7  8  9 10 11 12 13 14]
[ 2  4  6  8 10]
[0.  0.3 0.6 0.9 1.2 1.5 1.8]

In [ ]:
# NumPy's linspace function generates an array of evenly spaced numbers over a specified interval.

# Syntax:
# np.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None, axis=0)

# start: The starting value of the sequence.
# stop: The end value of the sequence.
# num: The number of evenly spaced samples to generate (default is 50).
# endpoint: If True (default), 'stop' is included in the sequence. If False, 'stop' is excluded.
# retstep: If True, return the spacing between samples as a second output.
# dtype: The desired data type of the array (optional).
# axis: The axis along which to generate the sequence (default is 0).

# Example 1: Generate 5 evenly spaced numbers between 0 and 1
arr1 = np.linspace(0, 5, num=5)
print(arr1)  # Output: [0.   0.25 0.5  0.75 1.  ]

# Example 2: Generate 7 evenly spaced numbers between 1 and 10, excluding the endpoint
arr2 = np.linspace(1, 10, num=7, endpoint=False)
print(arr2)  # Output: [ 1.   2.5  4.   5.5  7.   8.5 10. ]

# Example 3: Generate 10 evenly spaced numbers between -5 and 5, and return the step size
arr3, step = np.linspace(-5, 5, num=10, retstep=True)
print(arr3)  # Output: [-5.        -3.88888889 -2.77777778 -1.66666667 -0.55555556  0.55555556 1.66666667  2.77777778  3.88888889  5.        ]
print(step)  # Output: 1.1111111111111112

[0.   1.25 2.5  3.75 5.  ]
[1.         2.28571429 3.57142857 4.85714286 6.14285714 7.42857143
 8.71428571]
[-5.         -3.88888889 -2.77777778 -1.66666667 -0.55555556  0.55555556
  1.66666667  2.77777778  3.88888889  5.        ]
1.1111111111111112

In [ ]:


# NumPy's random module provides functions for generating random numbers and arrays.

# Generating Random Numbers:

# rand: Generates random numbers from a uniform distribution between 0 and 1.
# randn: Generates random numbers from a standard normal distribution (mean 0, variance 1).
# randint: Generates random integers within a specified range.
# random: Generates random numbers from a uniform distribution between 0 and 1 (similar to rand).
# choice: Randomly selects elements from a given array.

# Example 1: Generate a random number between 0 and 1
random_number = np.random.rand()
print("Random number between 0 and 1:", random_number)

# Example 2: Generate a random number from a standard normal distribution
random_normal = np.random.randn()
print("Random number from standard normal distribution:", random_normal)

# Example 3: Generate a random integer between 1 and 10 (inclusive)
random_integer = np.random.randint(1, 11)
print("Random integer between 1 and 10:", random_integer)

# Example 4: Randomly select an element from an array
choices = ['apple', 'banana', 'orange']
random_choice = np.random.choice(choices)
print("Randomly selected choice:", random_choice)

# Generating Random Arrays:

# You can generate random arrays by passing the desired shape as arguments to the random number generation functions.

# Example 5: Generate a 2x3 array of random numbers between 0 and 1
random_array = np.random.rand(2, 3)
print("Random 2x3 array:\n", random_array)

# Example 6: Generate a 3x3 array of random integers between 1 and 10
random_int_array = np.random.randint(1, 11, size=(3, 3))
print("Random 3x3 integer array:\n", random_int_array)

In [ ]:
# Setting Random Seed:

# You can set a random seed using np.random.seed(seed) to ensure reproducibility of random number generation.

# Example 7: Set random seed to 42
np.random.seed(42)
random_number1 = np.random.rand()
random_number2 = np.random.rand()
print("Random numbers with seed 42:", random_number1, random_number2)

# Resetting Random Seed:

# You can reset the random seed to its default state using np.random.seed(None).

# Example 8: Reset random seed
np.random.seed(None)
random_number3 = np.random.rand()
print("Random number after resetting seed:", random_number3)

Random numbers with seed 42: 0.3745401188473625 0.9507143064099162
Random number after resetting seed: 0.09021062882070041

In [ ]:

import numpy as np

# Sample array
arr = np.array([1.234, 3.14159, -2.71828, 0.5])

# Rounding to the nearest integer
rounded_arr = np.round(arr)  # Rounds each element to the nearest integer
print("Rounded to nearest integer:", rounded_arr)

# Rounding up to the nearest integer
ceil_arr = np.ceil(arr)  # Rounds each element up to the nearest integer
print("Rounded up:", ceil_arr)

# Rounding down to the nearest integer
floor_arr = np.floor(arr)  # Rounds each element down to the nearest integer
print("Rounded down:", floor_arr)

# Rounding to a specified number of decimal places
rounded_decimals = np.round(arr, decimals=2)  # Rounds to 2 decimal places
print("Rounded to 2 decimal places:", rounded_decimals)

In [ ]:
np.random.seed(42)
random_number = np.random.rand()
print (random_number)

0.3745401188473625

In [ ]:
np.random.seed(67)
random_number = np.random.rand()
print (random_number)

0.5458514299349786