# Hello World

In [ ]:
# python --version
import sys
print (sys.version)

3.10.12 (main, Mar 22 2024, 16:50:05) [GCC 11.4.0]

In [ ]:
# Single line comment - commnent means it is a non-executable statement
# print - to display the information
print("Hello World!")

Hello World!

# String Identifier and Coding standards

In [ ]:
print ("I'm fine")
print ('My height is 5\' 2"')

I'm fine
My height is 5' 2"

Hello World

Camel Case - helloWorld, myHeightIs

Pascal Case - HelloWorld, MyHeightIs

Snake Case - hello_world, hello-world, my_height_is

In [ ]:
print ('I\'m fine')

# Comments and Indentation

In [ ]:
'''
In java
for name in names {
print name;
}
'''

for i in range(1,11):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

In [ ]:
for i in range(1,11):
  print(i)
if i == 5:
  break

In [ ]:
i = 1
for i in range(1,11):
  print(i)
if i == 5:
  break

In [ ]:
for i in range(1,11): # for is the loop. i is iterator, range (1,11) - 1 is the lower limit, 11-1 is the upper limit.
                      # first iteration i = 1
                      # second iteration i will be incremented by 1 => i = 2
  print(i)
  if i == 5:  # While i is equal to 5 then exit the loop
    break     # Exit from the loop

In [ ]:
"""
for i in range(1,11): # for is the loop. i is iterator, range (1,11) - 1 is the lower limit, 11-1 is the upper limit.
                      # first iteration i = 1
                      # second iteration i will be incremented by 1 => i = 2
  print(i)
  if i == 5:  # While i is equal to 5 then exit the loop
    break     # Exit from the loop
"""
print ("This is an example for multi line comment")

This is an example for multi line comment

In [ ]:
'''
for i in range(1,11): # for is the loop. i is iterator, range (1,11) - 1 is the lower limit, 11-1 is the upper limit.
                      # first iteration i = 1
                      # second iteration i will be incremented by 1 => i = 2
  print(i)
  if i == 5:  # While i is equal to 5 then exit the loop
    break     # Exit from the loop
'''
print ("This is an example for multi line comment")

# Data Type

In [ ]:

'''
datatype variableName = value;
Ex
    String name = "Alice";
    int age = 6

    name = 6    is not allowed in Java. Results Type Mismatch Exception


'''
name = "Alice"      # String
age = 16            # Integer
weight = 45.6       # Float


print (type(name))        # type function returns the data type of the variable
print (type(age))
print (type(weight))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
name, age, weight = "Alice", 16, 45.6
print ("Name =", name)
print ("Age = ", age)
print ("Weight = ", weight)

Name = Alice
Age =  16
Weight =  45.6

In [ ]:
# Python idenfies the data type based on the values assigned - Loosly coupled

x = "Apple"               # String x = "Apple" - in Java
print (type(x)) # String

x = 2.50                  # This line will show error - Data type mistmatch. Can't assign float value to String data type - Tightly coupled
print (type(x)) # Float

<class 'str'>
<class 'float'>

In [ ]:
# Write a program to find the area of the circle - pi*r2

PI = 3.14           # PI is constant - upper case
r = 2               # r is a variable - lower case

area = PI * r * r

print ( "Area of the circle = ", area)

Area of the circle =  12.56

In [ ]:
# Write a program to find the area of the circle - pi*r2 using exponent

PI = 3.14           # PI is constant - upper case
r = 2               # r is a variable - lower case

area = PI * r ** 2

print ( "Area of the circle = ", area)

Area of the circle =  12.56

In [ ]:
a = 2
print (a ** 3)      # 2 * 2 * 2

String vs Numbers

In [ ]:
# + - Add the numeric values, Concat the strings

A = 5
B = 3

C = "5"
D = "3"

print (A + B)
print (C + D)

8
53

In [ ]:
# Accept input from the user and add it
num1 = input ("Enter your num 1: ")
num2 = input ("Enter your num 2: ")
print (type(num1))                   # User input always accepted as String
print (type(num2))
print (num1 + num2)

print (int(num1) + int(num2))         #type casting - converting from one data type to another

                                      # int() - Converts String into integer

Enter your num 1: 5
Enter your num 2: 3
<class 'str'>
<class 'str'>
53
8

# Arithmetic Operators

In [ ]:
# Define sample variables
a = 10
b = 3

In [ ]:
# 1. Addition (+)
# Add two numbers
sum_result = a + b  # sum_result will be 13
print (sum_result)

13

In [ ]:
# 2. Subtraction (-)
# Subtract one number from another
difference_result = a - b  # difference_result will be 7
print (difference_result)

In [ ]:
# 3. Multiplication (*)
# Multiply two numbers
product_result = a * b  # product_result will be 30
print (product_result)

In [ ]:
# 4. Division (/)
# Divide one number by another (results in a float)
division_result = a / b  # division_result will be 3.3333333333333335
print(division_result)

3.3333333333333335

In [ ]:
# 5. Floor Division (//)
# Divide one number by another and floor the result (integer division)
floor_division_result = a // b  # floor_division_result will be 3
print(floor_division_result)

3

In [ ]:
# 6. Modulus (%)
# Get the remainder of the division of one number by another
modulus_result = a % b  # modulus_result will be 1
print (modulus_result)

1

In [ ]:
# 7. Exponentiation (**)
# Raise one number to the power of another
exponentiation_result = a ** b  # exponentiation_result will be 1000
print (exponentiation_result)

In [ ]:
# 8. Unary Negation (-)
# Negate a number
negation_result = -a  # negation_result will be -10
print (negation_result)

In [ ]:
# 9. Unary Positive (+)
# Return the number itself (usually redundant)
positive_result = +a  # positive_result will be 10
print (positive_result)

In [ ]:
# Combining operations
# Using parentheses to specify the order of operations
combined_result = (a + b) * (a - b)  # combined_result will be 91
print (combined_result)

In [ ]:
# Example of using arithmetic operations in expressions
expression_result = a + b * 2 - (a // b) ** 3  # expression_result will be 12
print (expression_result)

In [ ]:
# Incrementing and decrementing
# Increment a by 1
a += 1  # a will be 11
print (a)

# Decrement b by 1
b -= 1  # b will be 2
print (b)

11
2

In [ ]:
a=a+5
print (a)

a +=5
print (a)

15
20

In [ ]:
# Compound operations
# Multiply a by 2 and assign the result to a
a *= 2  # a will be 22
print (a)

# Divide a by 2 and assign the result to a
a /= 2  # a will be 11.0 (note the result is a float)
print (a)

# Floor divide a by 2 and assign the result to a
a //= 2  # a will be 5.0
print (a)

# Raise b to the power of 3 and assign the result to b
b **= 3  # b will be 8
print (a)

# Comparison Operators

In [ ]:
# Define sample variables
a = 10
b = 3
c = 10

In [ ]:
# 1. Equal to (==)
# Check if two values are equal
equal_result = (a == b)  # equal_result will be False
print (equal_result)

equal_result2 = (a == c)  # equal_result2 will be True
print (less_equal_result2)

In [ ]:
# 2. Not equal to (!=)
# Check if two values are not equal
not_equal_result = (a != b)  # not_equal_result will be True
print (not_equal_result)

not_equal_result2 = (a != c)  # not_equal_result2 will be False
print (not_equal_result2)

In [ ]:
# 3. Greater than (>)
# Check if one value is greater than another
greater_result = (a > b)  # greater_result will be True
print (greater_result)

greater_result2 = (a > c)  # greater_result2 will be False
print (greater_result2)

In [ ]:

# 4. Less than (<)
# Check if one value is less than another
less_result = (a < b)  # less_result will be False
print(less_result) # Print the result

less_result2 = (a < c)  # less_result2 will be False
print(less_result2) # Print the result

In [ ]:
# 5. Greater than or equal to (>=)
# Check if one value is greater than or equal to another
greater_equal_result = (a >= b)  # greater_equal_result will be True
print(greater_equal_result) # Print the result

greater_equal_result2 = (a >= c)  # greater_equal_result2 will be True
print(greater_equal_result2) # Print the result

In [ ]:
# 6. Less than or equal to (<=)
# Check if one value is less than or equal to another
less_equal_result = (a <= b)  # less_equal_result will be False
print(less_equal_result) # Print the result

less_equal_result2 = (a <= c)  # less_equal_result2 will be True
print(less_equal_result2) # Print the result

In [ ]:
# 7. Combining comparison operations with logical operators
# Using logical AND (and) to combine comparisons
combined_result_and = (a > b) and (a == c)  # combined_result_and will be True
print (combined_result_and)

# Using logical OR (or) to combine comparisons
combined_result_or = (a < b) or (a == c)  # combined_result_or will be True
print (combined_result_or)

# Using logical NOT (not) to invert a comparison
not_result = not (a == b)  # not_result will be True
print (not_result)

In [ ]:
# 8. Comparison of different data types
# Note: Direct comparison between incompatible types raises an error in Python 3
int_value = 10
float_value = 10.0
str_value = "10"

# Comparing integer and float
int_float_comparison = (int_value == float_value)  # int_float_comparison will be True
print  (int_float_comparison)

# Comparing integer and string (will return False because they are different types)
int_str_comparison = (int_value == str_value)  # int_str_comparison will be False
print (int_str_comparison)

# Logical Operators

In [ ]:
# Define sample boolean variables
a = True
b = False

In [ ]:
# 1. Logical AND (and)
# Returns True if both operands are True
and_result1 = a and b  # and_result1 will be False
print (and_result1)

and_result2 = a and True  # and_result2 will be True
print (and_result2)

and_result3 = b and False  # and_result3 will be False
print (and_result3)

In [ ]:
# 2. Logical OR (or)
# Returns True if at least one operand is True
or_result1 = a or b  # or_result1 will be True
or_result2 = b or False  # or_result2 will be False
or_result3 = b or True  # or_result3 will be True

In [ ]:
# 3. Logical NOT (not)
# Returns True if the operand is False, and False if the operand is True
not_result1 = not a  # not_result1 will be False
not_result2 = not b  # not_result2 will be True

In [ ]:
# Combining logical operators
# Using logical AND to combine conditions
combined_result_and = (a and not b)  # combined_result_and will be True

In [ ]:
# Using logical OR to combine conditions
combined_result_or = (a or b and not a)  # combined_result_or will be True

In [ ]:
# Using multiple logical operators together
combined_result_complex = (a and b) or (not a and not b)  # combined_result_complex will be False

In [ ]:
# Logical operators with non-boolean values
# In Python, non-zero numbers and non-empty strings are considered True, zero and empty strings are False
x = 0
y = 5
z = ""

In [ ]:
# Logical AND with non-boolean values
and_non_boolean = x and y  # and_non_boolean will be 0 (False), since x is False
and_non_boolean2 = y and z  # and_non_boolean2 will be "", since y is True but z is False

In [ ]:
# Logical OR with non-boolean values
or_non_boolean = x or y  # or_non_boolean will be 5, since y is True
or_non_boolean2 = z or x  # or_non_boolean2 will be 0, since both are False

In [ ]:
# Logical NOT with non-boolean values
not_non_boolean = not x  # not_non_boolean will be True, since x is 0 (False)
not_non_boolean2 = not y  # not_non_boolean2 will be False, since y is 5 (True)

In [ ]:
# Example: Logical operators in conditions
# Check if a number is within a range
num = 10
within_range = (num > 5 and num < 15)  # within_range will be True

In [ ]:
# Check if a number is outside a range
outside_range = (num < 5 or num > 15)  # outside_range will be False

In [ ]:
# Example: Logical operators in list comprehensions
# Filter even numbers from a list using logical AND
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [n for n in numbers if n % 2 == 0]  # even_numbers will be [2, 4, 6]

In [ ]:
# Filter numbers greater than 3 and even using logical AND
filtered_numbers = [n for n in numbers if n > 3 and n % 2 == 0]  # filtered_numbers will be [4, 6]

# Ternary Operators

In [ ]:
# Define sample variables
a = 10
b = 20
max_value = 0

if (a>b):
    max_value = a
else:
    max_value = b

print (max_value)

20

In [ ]:
# Define sample variables
a = 10
b = 20
max_value = 10

if (b>a):
    max_value = b
print (max_value)

20

In [ ]:
# 1. Basic Ternary Operation
# Using the ternary operator to assign a value based on a condition
# Syntax: value_if_true if condition else value_if_false
max_value = a if a > b else b  # max_value will be 20

In [ ]:
# Define sample variables
a = 10
b = 20

In [ ]:
# 1. Basic Ternary Operation
# Using the ternary operator to assign a value based on a condition
# Syntax: value_if_true if condition else value_if_false
max_value = a if a > b else b  # max_value will be 20

In [ ]:

# 2. Nested Ternary Operation
# Using nested ternary operators for multiple conditions
# Find the maximum of three numbers
c = 30
max_value_nested = a if (a > b and a > c) else (b if b > c else c)  # max_value_nested will be 30

In [ ]:
# 3. Ternary Operation with Functions
# Using the ternary operator to choose between function results
def get_high_value():
    return 100

def get_low_value():
    return 0

# Choose function result based on condition
value_based_on_condition = get_high_value() if a > b else get_low_value()  # value_based_on_condition will be 0

In [ ]:
# 4. Ternary Operation in List Comprehension
# Using the ternary operator in a list comprehension
# Create a list with "even" or "odd" based on each number's parity
numbers = [1, 2, 3, 4, 5]
parity = ["even" if n % 2 == 0 else "odd" for n in numbers]  # parity will be ['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# 5. Ternary Operation with Lambda Functions
# Using the ternary operator in lambda functions
# Define a lambda function that returns "positive" or "negative"
check_sign = lambda x: "positive" if x >= 0 else "negative"
sign_result = check_sign(-5)  # sign_result will be "negative"

In [ ]:
# 6. Ternary Operation for Variable Assignment
# Using the ternary operator to set variable values based on a condition
# Check if a number is positive, negative, or zero
num = -10
num_status = "positive" if num > 0 else ("negative" if num < 0 else "zero")  # num_status will be "negative"

In [ ]:
# 7. Ternary Operation with Strings
# Using the ternary operator to choose between strings
# Check if a string is empty
str_value = "Hello"
str_status = "Empty" if not str_value else "Not Empty"  # str_status will be "Not Empty"

In [ ]:

# 8. Ternary Operation with Boolean Values
# Using the ternary operator to choose between boolean values
# Check if a number is even
is_even = True if a % 2 == 0 else False  # is_even will be True

# Example: Ternary Operation in Function Arguments
# Using the ternary operator to set default function arguments
def greet(name=None):
    # Use the ternary operator to set a default greeting message
    greeting = "Hello, " + (name if name else "stranger") + "!"
    return greeting

greeting_message = greet("Alice")  # greeting_message will be "Hello, Alice!"
default_greeting = greet()  # default_greeting will be "Hello, stranger!"

Switch Case vs If Else

In [ ]:
def switch_case(case):
    if case == 1:
        return "Case 1 selected"
    elif case == 2:
        return "Case 2 selected"
    elif case == 3:
        return "Case 3 selected"
    else:
        return "Default case selected"

# Test cases
print(switch_case(1))  # Output: "Case 1 selected"
print(switch_case(2))  # Output: "Case 2 selected"
print(switch_case(3))  # Output: "Case 3 selected"
print(switch_case(4))  # Output: "Default case selected"

In [ ]:
def switch_case(case):
    match case:
        case 1:
            return "Case 1 selected"
        case 2:
            return "Case 2 selected"
        case 3:
            return "Case 3 selected"
        case _:
            return "Default case selected"

# Test cases
print(switch_case(1))  # Output: "Case 1 selected"
print(switch_case(2))  # Output: "Case 2 selected"
print(switch_case(3))  # Output: "Case 3 selected"
print(switch_case(4))  # Output: "Default case selected"

Case 1 selected
Case 2 selected
Case 3 selected
Default case selected

# Print Format

In [ ]:
name = "Alice"
height = 5.6789

print ("name = ", name)
print ("height = ", height)

formatted_text = "{} {:.4f}".format(name, height)
print(formatted_text)
print ("{} {}{:.2f}".format(name, "$", height))

print (name, " ", height, " ", "mtr")
print (f"{name} {height:.2f} mtr")

name =  Alice
height =  5.6789
Alice 5.6789
Alice $5.68
Alice   5.6789   mtr
Alice 5.68 mtr

# String Operations

lang = Python - Is a string - Array of Character Characters are going to be identified using numerical index

lang - P y t h o n <br>
index - 0 1 2 3 4 5

In [ ]:
lang = "Python"
print ("Character at index (2) - " + lang[2])

print ("Character at index (5) - " + lang[5])

Character at index (2) - t
Character at index (5) - n

In [ ]:
# Define a sample string
sample_string = "Hello, World!"
print (sample_string)

In [ ]:
# 1. String Length
# Get the length of the string
length = len(sample_string)  # length will be 13
print (length)

In [ ]:
# 2. String Concatenation
# Combine two strings
greeting = "Hello"
name = "Alice"
full_greeting = greeting + ", " + name + "!"  # full_greeting will be "Hello, Alice!"
print (full_greeting)

Hello, Alice!

In [ ]:
# 3. String Repetition
# Repeat a string multiple times
repeat_string = "Ha" * 3  # repeat_string will be "HaHaHa"
print (repeat_string)

HaHaHa

In [ ]:
# 4. String Slicing
# Extract a substring from the string
substring = sample_string[7:12]  # substring will be "World"
print (substring)

In [ ]:
# 5. String Split
# Split the string into a list of words
sample_string = "Singapore, Malaysia, Thailand"
words = sample_string.split(", ")  # words will be ['Hello', 'World!']
print (words)
print (words[0])
print (words[1])
print (words[2])
#print (words[4])

for word in words:
    print (word)

['Singapore', 'Malaysia', 'Thailand']
Singapore
Malaysia
Thailand
Singapore
Malaysia
Thailand

In [ ]:
# 6. String Join
# Join a list of strings into a single string
joined_string = " ".join(words)  # joined_string will be "Hello World!"
print (joined_string)

In [ ]:
# 7. String Case Conversion
# Convert string to uppercase
upper_string = sample_string.upper()  # upper_string will be "HELLO, WORLD!"
print (upper_string)

# Convert string to lowercase
lower_string = sample_string.lower()  # lower_string will be "hello, world!"
print (lower_string)

# Capitalize the first letter of the string
capitalized_string = sample_string.capitalize()  # capitalized_string will be "Hello, world!"
print (capitalized_string)

# Title case conversion (capitalize the first letter of each word)
title_string = sample_string.title()  # title_string will be "Hello, World!"
print (title_string)

SINGAPORE, MALAYSIA, THAILAND
singapore, malaysia, thailand
Singapore, malaysia, thailand
Singapore, Malaysia, Thailand

In [ ]:
# 8. String Replacement
# Replace a substring within the string
sample_string = "Hello, World!"
print (sample_string)
replaced_string = sample_string.replace("World", "Python")  # replaced_string will be "Hello, Python!"
print (replaced_string)

Hello, World!
Hello, Python!

In [ ]:
# 9. Check if Substring Exists
# Check if a substring is in the string
contains_hello = "Hello" in sample_string  # contains_hello will be True
print (contains_hello)

contains_bye = "Bye" in sample_string  # contains_bye will be False
print (contains_bye)

True
False

In [ ]:
# 10. String Stripping
# Remove leading and trailing whitespace
whitespace_string = "  Hello, World!  "
print (whitespace_string)

stripped_string = whitespace_string.strip()  # stripped_string will be "Hello, World!"
print (stripped_string)

# Remove leading whitespace
left_stripped_string = whitespace_string.lstrip()  # left_stripped_string will be "Hello, World!  "
print (left_stripped_string)

# Remove trailing whitespace
right_stripped_string = whitespace_string.rstrip()  # right_stripped_string will be "  Hello, World!"
print (right_stripped_string)

  Hello, World!
Hello, World!
Hello, World!
  Hello, World!

In [ ]:

# 11. String Formatting
# Using f-strings (formatted string literals)
name = "Alice"
age = 30
formatted_string = f"Name: {name}, Age: {age}"  # formatted_string will be "Name: Alice, Age: 30"
print (formatted_string)

# Using the format() method
formatted_string2 = "Name: {}, Age: {}".format(name, age)  # formatted_string2 will be "Name: Alice, Age: 30"
print (formatted_string2)

# Using percentage (%) formatting
formatted_string3 = "Name: %s, Age: %d" % (name, age)  # formatted_string3 will be "Name: Alice, Age: 30"
print (formatted_string3)

In [ ]:
# 12. Finding Substrings
# Find the first occurrence of a substring
index = sample_string.find("World")  # index will be 7
print (index)

# Find the last occurrence of a substring
rindex = sample_string.rfind("o")  # rindex will be 8
print (rindex)

In [ ]:
# 13. String Counting
# Count occurrences of a substring
count = sample_string.count("o")  # count will be 2
print (count)

In [ ]:
# Escape character "\t" "\n"

str1 = "Hello"
str2 = "World"

print (str1, "\t", str2)    # \t - tab
print ()
print (str1, "\n", str2)  # \n - new line

Hello 	 World

Hello
 World

In [ ]:
# Range lower index : upper index
# From beginning - : upper index - Left of
# To the end - lower index : - Right of
# String - P y t h o n
# index  - 0 1 2 3 4 5

myStr = "Python is Fun!"

print ("My String - " , myStr)
print ("My first word - ", myStr[:6])       # 0-6
print ("My last word - ", myStr [10:])      # 10 - till last

print ("Middle word - ", myStr[7:9])        # 7 - 9 , 7,8

My String -  Python is Fun!
My first word -  Python
My last word -  Fun!
Middle word -  is

In [ ]:
print ("My first word - ", myStr[0:6])  # Between starting index and end index

My first word -  Python

In [ ]:
print ("myStr is a number ? ", myStr.isnumeric())

myStr is a number ?  False

In [ ]:
isValidUserInput = False
while not(isValidUserInput):                # isValidUserInput == False
  num1 = input ("Enter your number ")
  if (num1.isnumeric()):
    print ("You have entered ", num1)
    isValidUserInput = True
  else:
    print ("Please enter the numeric value")

Enter your number u'
Please enter the numeric value
Enter your number i
Please enter the numeric value
Enter your number 9
You have entered  9

In [ ]:
import random

# Generate a random number between 1 and 100
target_number = random.randint(1, 100)
print (target_number)

guessed=17

if (target_number > guessed ):
    print ("Too low")
else:
    print ("Too high")

In [ ]:
num1 = int(input("Enter your number "))
print ("You have entered ", num1)

Enter your number 7
You have entered  7

In [ ]:
num1 = input ("Enter your number ")
if (num1.isnumeric()):
    print ("You have entered ", num1)
else:
    print ("Please enter the numeric value")

Enter your number 9
You have entered  9

In [ ]:
a = 5
b = 13
c = 80

if (a>b) and (a>c):
  print ("a is the biggest number")
elif  (b>a) and (b>c):
  print ("b is the biggest number")
else:
  print ("c is the biggest number")

c is the biggest number

# Assignment 1

In [ ]:
num1 = 5
num2 = 3
sum_result = num1 + num2
print ("Sum of", num1, "and", num2, "is", sum_result)
print (f"Sum of {num1} and {num2} is {sum_result}")

Sum of 5 and 3 is 8
Sum of 5 and 3 is 8

In [ ]:
user_name = input ("Enter your name ")
print ("Hello", user_name)

Enter your name Bob
Hello Bob

In [ ]:
user_input = input ("Enter your number ")
user_integer = int(user_input)
print ("You have entered ", user_integer)

In [ ]:
user_input = input ("Enter your number ")

if (user_input.isnumeric()):
  print ("You have entered ", user_input)
else:
  print ("Please enter the numeric value")

Enter your number 5
You have entered  5

In [ ]:
user_input = ""
while (user_input.isnumeric() == False):
    user_input = input ("Enter your number ")
    if (user_input.isnumeric()):
        print ("You have entered ", user_input)
    else:
        print ("Please enter the numeric value")

Enter your number Alice
Please enter the numeric value
Enter your number Bob
Please enter the numeric value
Enter your number 78
You have entered  78

In [ ]:
user_input = input("Enter your number ")
try:
    user_integer = int(user_input)
    print("You have entered ", user_integer)
except ValueError:
    print("Invalid input. Please enter a valid integer.")

In [ ]:
user_input = input ("Enter your number ")
if (user_input.isnumeric()):
  print ("You have entered ", user_input)
  num1 = int(user_input)
  print ("You have entered ", num1)
  if (num1 % 2 == 0):
    print (num1, "is an even number")
  else:
    print (num1, "is an odd number")

In [ ]:
# Prompt the user to enter a temperature in Celsius.
temp_c = float(input("Enter a temperature in Celsius: "))

# Convert the Celsius temperature to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.
# Store the result in a variable called temperature_f.
temperature_f = (temp_c * 9/5) + 32

# Print the value of temperature_f.
print("Temperature in Fahrenheit:", temperature_f)

Enter a temperature in Celsius: 72
Temperature in Fahrenheit: 161.6

# Loops

In [ ]:
# A more practical example
counter = 0
max_count = 5


while True:
    # This block of code will be executed at least once
    print(f"Counter value: {counter}")
    counter += 1

    # Check the condition at the end of the loop
    if counter >= max_count:
        break  # Exit the loop if the condition is met

Counter value: 0
Counter value: 1
Counter value: 2
Counter value: 3
Counter value: 4

In [ ]:
# A more practical example
counter = 0
max_count = 5


while True:
    if counter == 2:
        continue

    # This block of code will be executed at least once
    print(f"Counter value: {counter}")
    counter += 1

    # Check the condition at the end of the loop
    if counter >= max_count:
        break  # Exit the loop if the condition is met

Counter value: 0
Counter value: 1

KeyboardInterrupt:

In [ ]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range(0, 11, 2):
    print(x)

0
2
4
6
8
10

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [ ]:
def greet(name):                        # def - Keyword to deine a function
    print("Hello, " + name + "!")       # greet - function name
                                        # () - No parameters
                                        # (name) - 1 paramater - name - Parameter


greet("Alice")  # Output: Hello, Alice!    # Call the function by name with argument
                                           # greet - function  ; "Alice" - Argument
greet("Bob")    # Output: Hello, Bob
greet("Charlie")  # Output: Hello, Charlie

Hello, Alice!
Hello, Bob!
Hello, Charlie!

In [ ]:
# Write a Python function named double_number that takes a number as input and returns the double of the number.##

def double_number(number):
    return number * 2

# Example usage:
result = double_number(5)
print(result)  # Output: 10

10

In [ ]:
#Even - Exactly divisible by 2. Remainder is 0
# 6/ 2 => Q 3, R 0
# 5/2 => Q 2, R 1

def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

# Example usage:
result = is_even(6)
print(result)  # Output: True

In [ ]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

# Example usage:
result = calculate_sum([1, 2, 3, 4, 5])
print(result)  # Output: 15

15

In [ ]:
# n! = 1 * 2 * 3 * .... n
# 1! = 1                => 1!
# 2! = 1 * 2            => 1! * 2
# 3! = 1 * 2 * 3        => 2! * 3
# 4! = 1 * 2 * 3 * 4    => 3! * 4
# n! = n * (n-1)!

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
result = factorial(5)
print(result)  # Output: 120

In [ ]:
# Prompt the user to enter a temperature in Celsius.
# Convert the Celsius temperature to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32.
# Store the result in a variable called temperature_f.
# Print the value of temperature_f.

# Convert the Celsius temperature to Fahrenheit using the formula:
Fahrenheit = (Celsius * 9/5) + 32.


# Store the result in a variable called temperature_f.
temperature_f = (temp_c * 9/5) + 32


# Print the value of temperature_f.
print("Temperature in Fahrenheit:", temperature_f)